{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["bash", "javascript", "scss", "css"],
        "plugins": ["show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
